body {
    font-size: 14px;
    font-family: arial,sans-serif;
}
#topsite {
    display: block;
    position: relative;
}
ul {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
li {
    float: left;
}
li a {
    position: absolute;
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    margin-top: -7px;
  }
.store {
 
    left: 3%;
}
.gmail {
    left: 85%
}
.images {

    left: 88%;
}
.signin {
    position: absolute;
    left: 95%;
    margin-top: -3px;
    color:rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 9px 23px 9px 23px;
    background-color: rgb(26, 115, 232);
    box-shadow: rgba(66, 133, 244, 0.3) 0px 1px 2px 0px, rgba(66, 133, 244, 0.15) 0px 1px 3px 1px;
    box-sizing: border-box;
    
}
.topmiddle {
    display: flex;
}
.googleimage {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
.middle {
    display: block;
    text-align: center;
}
form {
    position: relative;
    margin: 20px auto;
    display: flex;
    width: 40%;
    height: 30px;
    border-color: rgba(153, 131, 131, 0.445);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}
input  {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    }
.searchbox {
    display: block;
    position: absolute;
    margin-top: 4px;
    left: 1%;
    max-width: 100%;
    color: rgba(153, 131, 131, 0.445);
    
}
#bottommiddle {
    display: block;
    text-align: center;
    margin-top: 21px;
}
.button1 { 
    margin-right: 10px;
    padding: 7px 15px 7px 15px;
}
.button2 {
    padding: 7px 15px 7px 15px;
}
footer {
    display: flex;
}