body {
    height: 100%;
    font-size: 14px;
    font-family: arial,sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
li {
    float: left;
}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.store {
    position: relative;
    left: -15px;
}
.gmail {
    position: relative;
    left: 106em;
}
.images {
    position: relative;
    left: 105em;
}
.signin {
    position: absolute;
    left: 129em;
    top: -2px;
    color:rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 9px 23px 9px 23px;
    background-color: rgb(26, 115, 232);
    box-shadow: rgba(66, 133, 244, 0.3) 0px 1px 2px 0px, rgba(66, 133, 244, 0.15) 0px 1px 3px 1px;
    box-sizing: border-box;
    
}
.googleimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    }
form {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 250px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}
.searchbox {
    display: flex;
    
}
.searchicon {
    
}