html,body {
    position: relative;
    font-size: 14px;
    font-family: arial,sans-serif;
    min-height: 100vh;
    margin:0;
    padding:0;
}
#topsite {
    display: block;
    position: relative;
}
ul {  
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
li {
    float: left;
}
li a {
    display: block; 
    color: rgb(0, 0, 0);
    padding: 0px;
    text-decoration: none;
    margin-top: 25px;
  }
.about {
    margin-left: 25px;
}
.store {
    margin-left: 15px;
}
.gmail {
    margin-right: 13px;
}
.images {
    margin-right: 180px;
}
.appsicon {
    position: absolute;
    left: 92%;
    margin-top: -21px;
}
.signin {
    position: absolute;
    left: 94.5%;
    margin-top: -27px;
    color:rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 9px 23px 9px 23px;
    background-color: rgb(26, 115, 232);
    box-shadow: rgba(66, 133, 244, 0.3) 0px 1px 2px 0px, rgba(66, 133, 244, 0.15) 0px 1px 3px 1px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    
}
.topmiddle {
    display: flex;
}
.googleimage {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
.middle {
    display: block;
    text-align: center;
    margin-top: 30px;
}
form {
    position: relative;
    display: flex;
    flex: 1;
    margin: 20px auto;
    width: 30%;
    height: 40px;
    border-color: rgba(153, 131, 131, 0.445);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}
input  {
    position: relative;
    display: flex;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    margin-top: 2px;
    right: -35px;
    height: 34px;
    font-size: 16px;
    flex: 100%;
    }
.searchicon {
    display: block;
    position: absolute;
    width: 20px;
    margin-top: 10px;
    left: 2%;
    color: rgba(153, 131, 131, 0.445);
    
}
#bottommiddle {
    display: block;
    text-align: center;
    margin-top: 21px;
}
.button1 { 
    margin-right: 10px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.button2 {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
footer {
    position:absolute; 
    right: 0;
    bottom:0;
    left:0;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: #dde2e773;
    z-index: 1;
}
footer ::before {

}
.buttonlook {
    margin-top: 12px;
    font-size: 14px;
    color: #70757a;
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}
.bottomleft {
    margin-left: 20px;
}
.bottomright {
    margin-right: 20px;
}